.contactPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contactBody {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contactText {
  display:flex;
  flex-direction: column;
  gap:25px;
  justify-content: center;
  text-align: left;
  padding: 45px;
}

.contactImg {
  width: 35vw;
  max-width:530px;
}

.logoDiv {
  display: flex;
  gap:12px;
}

.logoDiv.button {
  max-width:150px;
  display: flex;
  justify-content: flex-start;
  padding:1px;
}