.homePage {
  height: 100%;
  width: 100%
}

.homePageContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height:100%;
}

.image {
  width: 35vw;
}

.homePageContent .homePageText {
  display:flex;
  flex-direction: column;
  gap:25px;
  justify-content: center;
  text-align: left;
  padding: 45px;
}